language: c

notifications:
  email: false

before_script:
# travis has changed to 64-bit and we require 32-bit compatibility libraries
  - sudo apt-get update
  # clang
  - "sudo apt-get -qq install gcc-multilib libc6:i386 libgcc1:i386 gcc-4.6-base:i386 libstdc++5:i386 libstdc++6:i386 libsdl-dev || true"
  - "sudo apt-get -qq install gcc-arm-none-eabi || true"


script:
  - sudo chmod +x ./autobuild.sh
  - sudo ./autobuild.sh

after_script:
  - npm run coveralls
