name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: update tools
      run: sudo apt-get update
          "sudo apt-get -qq install gcc-multilib libc6:i386 libgcc1:i386 gcc-4.6-base:i386 libstdc++5:i386 libstdc++6:i386 libsdl-dev || true"
          "sudo apt-get -qq install gcc-arm-none-eabi || true"
    - name: make
      run: sudo chmod +x ./autobuild.sh
          sudo ./autobuild.sh

